.loginForm {
  /* min-height: 100vh; */
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.userName form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 350px;
}
.userName input {
  width: 900px;
  font-size: 1.2rem;
  width: 100%;
  background-color: #2a3942;
  outline: 0;
  border: 1px solid #2a3942;
  padding: 9px 12px 11px;
  border-radius: 8px;
  caret-color: #e9edef;
  color: #ffffff;
}
.userName button {
  outline: 0;
  border: 0;
  background-color: #3c65f7;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  width: 150px;
  height: 2.5rem;
  border-radius: 20px;
  cursor: pointer;
}
.userName button:hover {
  filter: brightness(85%);
}
